/*   Table Heading  */
.main_div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
     justify-content: space-between;
    align-content: center;
    align-items: center;
}




 .input_div{
    width: 80%;
 }


/* Paginate Css */
.main_div {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 2rem;
}


.delete_btn {
    border: 1px solid red;
    display: flex;
    /* justify-content: center; */
    border-radius: 8px;
    align-items: center;
    background-color: #EE4E70;
    color: white;
}

.delete_btn:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}


.paginationBttns {

    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    width: 80%;
    list-style: none;

}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid teal;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: teal;
}

.previousBttn {
    border: 1px solid white;
    color: white;
    background-color: teal;

}

.nextBttn {
    border: 1px solid white;
    color: white;
    background-color: teal;
}

.paginationActive a {
    color: white;
    background-color: teal;
}


/* loader */
.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Icons */

 .deleteIcon {
  
    color: red;
    
}

.deleteIcon:hover{
    background-color: #3498db;
    color: black;
    cursor: pointer;
}


.editIcon:hover{
    background-color: #3498db;
    cursor: pointer;
}



/* Tables */


table,th,td{
    border: 1px solid black;
}

table{
    width: 100%;
}

th{
    background-color: #3498db;
}


tr:hover{
    background-color: #887e80;
    cursor: pointer;
}



/* delete buttons */

.delete_selected{
    margin:1% 0;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: teal;
    color: white;

}


.delete_selected:hover{
    cursor: pointer;
}

