.main_div{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 2rem;
}


.delete_btn{
    border: 1px solid red;
    display: flex;
    /* justify-content: center; */
    border-radius: 8px;
    align-items: center;
    background-color: #EE4E70;
    color: white;
}

.delete_btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}


.paginationBttns {

    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 70rem;
    list-style: none;
    /* margin: auto; */

}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid teal;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: teal;
}

.previousBttn {
    border: 1px solid white;
    color: white;
    background-color: teal;

}

.nextBttn {
    border: 1px solid white;
    color: white;
    background-color: teal;
}

.paginationActive a {
    color: white;
    background-color: teal;
}